<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laonworks502.team1st.dao.board.BoardDao">

    <!-- 글 작성 -->
    <insert id="writePost" parameterType="com.laonworks502.team1st.model.post.PostBean">
        insert into posts(board_id, title, writer, content, date)
        values(#{board_id}, #{title}, #{writer}, #{content}, now())

        <selectKey keyProperty="no" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>

    <!-- 글 리스트 불러 오기 -->
    <select id="getBoardList" resultType="com.laonworks502.team1st.model.post.PostBean">
        select * from posts where board_id = #{board_id} order by no desc
            limit #{startPostNo}, #{PAGES_COUNT}
    </select>

    <!-- 게시물 전체 개수 -->
    <select id="countAllPosts" parameterType="int" resultType="int">
        select count(*) from posts where board_id = #{board_id}
    </select>

    <!-- 게시판 id 에서 게시판 정보 추출-->
    <select id="getBoardById" parameterType="int" resultType="com.laonworks502.team1st.model.board.BoardBean">
        select * from boards where id = #{board_id}
    </select>

    <!-- 게시판 id 에서 이름 추출 -->
    <select id="getBoardNameById" parameterType="int" resultType="String">
        select name from boards where id = #{board_id}
    </select>

    <!-- 글 상세 보기-->
    <select id="getPostByNo" parameterType="int" resultType="com.laonworks502.team1st.model.post.PostBean">
        select * from posts where board_id = #{board_id} and no = #{no}
    </select>

    <!-- 글 수정 -->
    <update id="amendPost" parameterType="com.laonworks502.team1st.model.post.PostBean">
        update posts set title=#{title}, content=#{content} where no=#{no}
    </update>

    <!-- 글 삭제 -->
    <delete id="deletePost">
        delete from posts where no = #{no}
    </delete>



</mapper>