@charset "UTF-8";

*{
    padding: 0;
    margin:0;
    padding: 20px;
}

header{
    width:1180px;
    min-width: 1180px;
    background-color: antiquewhite;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

main {
    width:1180px;
    min-width: 1180px;
    margin: 0 auto;
}

ul,li {
    list-style: none;
}

.mypage_list{
    margin-top: 50px;
}

.myscrap_subject_wrap{
    margin: 50px 0px 50px 0px;
}

.myscrap_total_wrap{
    margin-bottom: 80px;
}