<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laonworks502.team1st.dao.admin.AdminDao">
   
   <!-- 관리자 로그인 아이디 가져오기 -->
    <select id="getAdminInfo" parameterType="String" resultType="com.laonworks502.team1st.model.admin.AdminBean">
        select * from admin where id=#{id}   
    </select>
    
    <!-- 일별 가입자 수  -->
    <select id="joinTotalDays" parameterType="int" resultType="int" >
    select count(register_date) from general_users where date_format(register_date, '%Y-%m-%d') = date_sub(DATE_FORMAT(NOW(),'%Y-%m-%d'), interval #{n} day) 
    </select>
   
    <!--  1주전 가입자 수  -->
    <select id="ago1wJoinTotal" resultType="int">
    SELECT count(register_date) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 1 WEEK ) AND NOW()
    </select>
    
    <!--  2주전 가입자 수  -->
    <select id="ago2wJoinTotal" resultType="int">
    SELECT count(register_date) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 2 WEEK ) AND DATE_SUB(NOW(), INTERVAL 1 WEEK )
    </select>
    
    <!--  3주전 가입자 수  -->
    <select id="ago3wJoinTotal" resultType="int">
    SELECT count(register_date) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 3 WEEK ) AND DATE_SUB(NOW(), INTERVAL 2 WEEK )
    </select>
    
    <!--  4주전 가입자 수  -->
    <select id="ago4wJoinTotal" resultType="int">
    SELECT count(register_date) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 4 WEEK ) AND DATE_SUB(NOW(), INTERVAL 3 WEEK )
    </select>
    
    <!-- 1개월 전 가입자 수 -->
    <select id="ago1mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 1 MONTH ) AND NOW()
    </select>
    
    <!-- 2개월 전 가입자 수 -->
    <select id="ago2mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 2 MONTH ) AND DATE_SUB(NOW(), INTERVAL 1 MONTH )
    </select>
    
    <!-- 3개월 전 가입자 수 -->
    <select id="ago3mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 3 MONTH ) AND DATE_SUB(NOW(), INTERVAL 2 MONTH )
    </select>
    
    <!-- 4개월 전 가입자 수 -->
    <select id="ago4mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 4 MONTH ) AND DATE_SUB(NOW(), INTERVAL 3 MONTH )
    </select>
    
    <!-- 5개월 전 가입자 수 -->
    <select id="ago5mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 5 MONTH ) AND DATE_SUB(NOW(), INTERVAL 4 MONTH )
    </select>
    
    <!-- 6개월 전 가입자 수 -->
    <select id="ago6mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 6 MONTH ) AND DATE_SUB(NOW(), INTERVAL 5 MONTH )
    </select>
        
    <!-- 7개월 전 가입자 수 -->
    <select id="ago7mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 7 MONTH ) AND DATE_SUB(NOW(), INTERVAL 6 MONTH )
    </select>    
    
    <!-- 8개월 전 가입자 수 -->
    <select id="ago8mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 8 MONTH ) AND DATE_SUB(NOW(), INTERVAL 7 MONTH )
    </select>   
    
    <!-- 9개월 전 가입자 수 -->
    <select id="ago9mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 9 MONTH ) AND DATE_SUB(NOW(), INTERVAL 8 MONTH )
    </select>   
    
    <!-- 10개월 전 가입자 수 -->
    <select id="ago10mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 10 MONTH ) AND DATE_SUB(NOW(), INTERVAL 9 MONTH )
    </select>   
    
    <!-- 11개월 전 가입자 수 -->
    <select id="ago11mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 11 MONTH ) AND DATE_SUB(NOW(), INTERVAL 10 MONTH )
    </select>   
    
    <!-- 12개월 전 가입자 수 -->
    <select id="ago12mJoinTotal" resultType="int">
    SELECT COUNT(REGISTER_DATE) FROM general_users WHERE register_date BETWEEN DATE_SUB(NOW(), INTERVAL 12 MONTH ) AND DATE_SUB(NOW(), INTERVAL 11 MONTH )
    </select>   
    
    <!-- 전체 회원 수 -->
    <select id="countAllUsers" resultType="int">
    select count(*) from general_users 
    </select>
        
</mapper>