<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laonworks502.team1st.dao.admin.AdminDao">
   
   <!-- 관리자 로그인 아이디 가져오기 -->
    <select id="getAdminInfo" parameterType="String" resultType="com.laonworks502.team1st.model.admin.AdminBean">
        select * from admin where id=#{id}   
    </select>
    
    <!-- 오늘 가입자 수  -->
    <select id="todayJoinTotal" resultType="int">
    select count(register_date) from general_users where register_date = now()
    </select>
    
    <!-- 1일전 가입자 수 -->
    <select id="ago1JoinTotal" resultType="int">
    select count(register_date) from general_users where register_date between DATE_sub(now(), INTERVAL 1 day) and now()
    </select>
    
    <!-- 2일전 가입자 수 -->
    <select id="ago2JoinTotal" resultType="int">
    select count(register_date) from general_users where register_date between DATE_sub(now(), INTERVAL 2 day) and DATE_sub(now(), INTERVAL 1 day)
    </select>
    
    <!-- 3일전 가입자 수 -->
    <select id="ago3JoinTotal" resultType="int">
    select count(register_date) from general_users where register_date between DATE_sub(now(), INTERVAL 3 day) and DATE_sub(now(), INTERVAL 2 day)
    </select>
    
    <!-- 4일전 가입자 수 -->
    <select id="ago4JoinTotal" resultType="int">
    select count(register_date) from general_users where register_date between DATE_sub(now(), INTERVAL 4 day) and DATE_sub(now(), INTERVAL 3 day)
    </select>
    
    <!-- 5일전 가입자 수 -->
    <select id="ago5JoinTotal" resultType="int">
    select count(register_date) from general_users where register_date between DATE_sub(now(), INTERVAL 5 day) and DATE_sub(now(), INTERVAL 4 day)
    </select>
    
    <!-- 6일전 가입자 수 -->
    <select id="ago6JoinTotal" resultType="int">
    select count(register_date) from general_users where register_date between DATE_sub(now(), INTERVAL 6 day) and DATE_sub(now(), INTERVAL 5 day)
    </select>
    
    <!-- 7일전 가입자 수 -->
    <select id="ago7JoinTotal" resultType="int">
    select count(register_date) from general_users where register_date between DATE_sub(now(), INTERVAL 7 day) and DATE_sub(now(), INTERVAL 6 day)
    </select>
        
</mapper>