<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laonworks502.team1st.dao.studygroup.StudyGroupDao">

    <!-- 글 존재 여부 검색-->
    <select id="getPostCountByNo" resultType="int">
        select count(*) from posts where board_id = #{board_id} and no = #{no}
    </select>

    <!-- 매칭 생성 -->
    <insert id="createMatching">
        insert into study_groups(no, host_email, members_email, total_members, date, deadline)
        values (#{no}, #{host_email}, #{members_email}, #{total_members}, now(), #{deadline} )
    </insert>

    <!-- 매칭 정보 select-->
    <select id="getStudyByNo" resultType="com.laonworks502.team1st.model.studygroup.StudyGroupBean">
        select no, host_email, total_members, members_email, date, deadline
        from study_groups where no = ${no} and host_email = '${email}' and members_email = '${email}'
    </select>

    <!-- 매칭 갯수 select -->
    <select id="countAllMatching" resultType="int">
        select count(*) from study_groups where no = #{no} and host_email = #{email}
    </select>

    <!-- 매칭 가능 여부 select-->
    <select id="searchMatching" resultType="int">
        select count(*) from study_groups where no = #{no} and members_email = #{email}
    </select>

    <!-- 매칭 정보 전체 select-->
    <select id="getStudyList" resultType="com.laonworks502.team1st.model.studygroup.StudyGroupBean">
        select no, host_email, total_members, members_email, date, deadline
        from study_groups where members_email = '${email}'
    </select>
</mapper>